@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
    height: 50vh;
    border-radius: 0 0 2% 2%;
    position: relative;
}

.filter {
    @apply p-4 px-4 flex justify-between m-4 rounded-full font-semibold text-white hover:border-black hover:border-2 border-2 border-transparent transition-all duration-300;
}

/* .pokeball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #000;
    position: relative;
    overflow: hidden;
}

.pokeball::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: 50%;
    background-color: #f00;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.pokeball::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
} */