@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
  height: 50vh;
  border-radius: 0 0 2% 2%;
  position: relative;
}

.filter {
  @apply p-4 px-4 flex justify-between m-4 rounded-full font-semibold text-white hover:border-black hover:border-2 border-2 border-transparent transition-all duration-300;
}

.pokemon {
  @apply h-full p-20;
}

/* 
.pokemon-sprite {
  width: 50vw;
  height: 50vh;
} */
.pokemon-data {
  max-width: 50%;
}

.type-data {
  @apply p-1 mr-2 uppercase border-black border-2 font-bold rounded-md;
}

/* Pokemon Themes */
.theme-normal {
  background-color: #a8a878;
}
.theme-fire {
  background-color: #f08030;
}
.theme-water {
  background-color: #6890f0;
}
.theme-grass {
  background-color: #78c850;
}
.theme-electric {
  background-color: #f8d030;
}
.theme-ice {
  background-color: #98d8d8;
}
.theme-fighting {
  background-color: #c03028;
}
.theme-poison {
  background-color: #a040a0;
}
.theme-ground {
  background-color: #e0c068;
}
.theme-flying {
  background-color: #a890f0;
}
.theme-psychic {
  background-color: #f85888;
}
.theme-bug {
  background-color: #a8b820;
}
.theme-rock {
  background-color: #b8a038;
}
.theme-ghost {
  background-color: #705898;
}
.theme-dragon {
  background-color: #7038f8;
}
.theme-dark {
  background-color: #705848;
}
.theme-steel {
  background-color: #b8b8d0;
}
.theme-fairy {
  background-color: #ee99ac;
}
