@tailwind base;
@tailwind components;
@tailwind utilities;

.search {
    height: 50vh;
    border-radius: 0 0 2% 2%;
    position: relative;
}

.filter {
    @apply p-4 px-4 flex justify-between m-4 rounded-full font-semibold text-white hover:border-black hover:border-2 border-2 border-transparent transition-all duration-300;
}